{% extends "base.html" %}
{% load static %}

{% block page_title %}
  Acceted Challenges
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">    
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block content %}
{% include "challenges/includes/header.html" %}
  {% if not has_accept %}
    <p>You didn't save any post!</p>
  {% endif %}
  <ul>
    <li><a href="{% url "accept-challenge" accepts.id %}">{{ accepts.title }}</a></li>
  </ul>
{% endblock %}